/*Tamago original color*/

.t {
    background-color: rgb(122, 230, 221);
    width: 2em;
    height: 2.5em;
}


/* Indication of life*/

.blueA {
    background-color: #0000ff;
    width: 2em;
    height: 2em;
}

.yellowA {
    background-color: #ffff00;
    width: 2em;
    height: 2em
}

.orangeA {
    background-color: #ff7f50;
    width: 2em;
    height: 2em
}

.redA {
    background-color: red;
    width: 2em;
    height: 2em
}

.blackA {
    background-color: black;
    width: 2em;
    height: 2em
}


/* color change depending the amout of life*/

.blue {
    background-color: blue;
    width: 2em;
    height: 2.5em;
    color: azure;
}

.yellow {
    background-color: yellow;
    width: 2em;
    height: 2.5em;
    color: azure;
}

.orange {
    background-color: coral;
    width: 2em;
    height: 2.5em;
    color: azure;
}

.red {
    background-color: #ff0000;
    width: 2em;
    height: 2.5em;
    color: azure;
}

.black {
    background-color: black;
    width: 2em;
    height: 2.5em;
    color: azure;
}


/*Life bar*/

.barra {
    width: 10em;
    color: white;
    animation: bar 2s infinite alternate-reverse;
}

@keyframes bar {
    0% {
        background-color: rgb(122, 230, 221);
    }
    25% {
        background-color: rgb(122, 172, 230);
    }
    50% {
        background-color: rgb(122, 142, 230);
    }
    100% {
        background-color: blue;
    }
}


/*hidding before click start*/

.whenStarting,
.gameRestart,
.colorAdvise {
    display: none;
}


/* tamo animations*/

.tamo {
    height: 20em;
    animation: forTamo 5s infinite alternate;
}

@keyframes forTamo {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 100px;
        top: 0px;
    }
    50% {
        left: 100px;
        top: 100px;
    }
    75% {
        left: 0px;
        top: 100px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}


/*legs*/

.legs {
    animation: forLeg 1s infinite alternate;
}

@keyframes forLeg {
    0% {
        left: 0px;
    }
    25% {
        left: 20px;
    }
    50% {
        left: 0px;
    }
    75% {
        left: 20px;
    }
    90% {
        left: 0px;
    }
    100% {
        left: 20px;
    }
}


/*ears*/

.ears {
    animation: forEar 3s infinite alternate;
}

@keyframes forEar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*body background*/

body {
    animation: gradient 3s infinite alternate;
    color: white;
    font-weight: bolder;
}

@keyframes gradient {
    from {
        background-color: rgb(112, 175, 211);
    }
    to {
        background-color: rgb(124, 79, 167);
    }
}


/*start*/

.gameStart {
    position: absolute;
    top: 38%;
    left: 38%;
}